<a href="https://colab.research.google.com/github/Marcalitus/JavaPractice/blob/main/Practice_Exercise_3_Looping_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# LOOPING STATEMENTS EXERCISE

---------------

### 1.Print -10 to -1 using for loop

In [2]:
count = 0
negative_list = {-10,-9,-8,-7,-6,-5,-4,-3,-2,-1}
for i in negative_list: 
  print (i)
  count = count + 1 
print("Done")

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
Done

### 2.Using while loop print numbers 1 to 10

In [3]:
counter 
numbered_list = {1,2,3,4,5,6,7,8,9,10}
while i in numbered_list
  print (i)

SyntaxError: ignored

### 3.Using for loop print first ten even numbers

### 4.Using while loop generate the table of 5

### 5.Using for loop generate the table of 8

### 6. For numbers 1 to 100, if a number is divisible by 3, then print Fizz.
### If a number is divisible by 5, then print Buzz.
### If a number is divisible by 3 and 5 both, then print FizzBuzz
### If a number is neither divisible by 3 or 5, just print the number.

Hint: use range(1,101) function  to generate numbers from 1 to 100

### 7.  Using the range function find the sum of all numbers from 1 to 100.
    For the numbers in the range (1,100):1+2+3+4+5......+100 = 5050

### 8. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 202 and 320 (both included).

### 9. Python Program to count the number of vowels in a string.
st = "Data Science"

Output: No of vowels = 5

### 10. Print Data Science 5 times using for loop

In [15]:
number_list = [0,1,2,3,4,5,6,2143,123,7834]
for i in number_list[1:4]: 
  for j in number_list[4:7]: 
    print(i*j)
  print ("Outside of the J loop")
print("Outside of both loops" )

4
5
6
Outside of the J loop
8
10
12
Outside of the J loop
12
15
18
Outside of the J loop
Outside of both loops

In [20]:
for i in range(6): 
  print(i)